---
layout: generic_collection_item
image_viewer: 'simple'
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Autor'
    value: page.autor
  - label: 'Lugar'
    value: page.lugar
  - label: 'fecha'
    value: page.fecha
  - label: 'Tipo'
    value: page.tipo
  - label: 'Descripción'
    value: page.descripcion
  - label: 'repositorio'
    value: page.repositorio
  - label: 'Clasificación'
    value: page.clasificacion
  - label: 'Código de referencia'
    value: page.codigo-referencia
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
